html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Source Sans Pro', Arial;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/recon-bg.png");
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}


.container {
    color: #fff;
}

.recon-logo {
    margin-top: 20px;
    margin-bottom: 10px;
}

.landing-heading {
    font-size: 40px;
    font-weight: 700;
    color: #d8d8d8;
}

.landing-description {
    color: #fff;
    padding: 10px;
    text-align: left;
    font-size: 18px;
}

.landing-description ul{
    padding-left: 15px;
}

.landing-description .btn{
    background-color: #20ac5d;
    color: #171516;
    font-weight: 700;
}

.landing-description .btn:hover{
    background-color: #028245;
    font-weight: 700;
}

.landing-call {
    font-size: 18px;
}

.landing-form input{
    height: 36px;
    border-radius: 4px;
}

.landing-green {
    color: #20ac5d;
}

#landing-success-message {
    display: none;
}

#landing-failure-message {
    display: none;
}

.btn-landing {
    background-color: #0090a8;
    border: 2px solid #0090a8;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.btn-landing:hover {
    background-color: #057487;
    color: #fff;
}

.btn-landing:active {
    background-color: #057487;
    border: 2px solid #0090a8;
    color: #fff;
}

.btn-landing:focus {
    background-color: #057487;
    border: 2px solid #0090a8;
    color: #fff;
}

.footer {
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
}

.footer a {
    color: #0090a8;
}